In [1]:
import yfinance as yf

In [2]:
yf.download('SPY',period='max', interval='1wk')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-25,43.968750,43.968750,43.750000,43.937500,25.547976,1003200.0
1993-02-01,43.968750,45.093750,43.968750,44.968750,26.147608,2234800.0
1993-02-08,44.968750,45.125000,44.531250,44.593750,25.929567,1159800.0
1993-02-15,44.468750,44.468750,42.812500,43.562500,25.329943,998700.0
1993-02-22,43.687500,44.437500,43.468750,44.406250,25.820547,1024300.0
...,...,...,...,...,...,...
2022-05-09,405.100006,406.410004,385.149994,401.720001,401.720001,659564400.0
2022-05-16,399.980011,408.570007,380.540009,389.630005,389.630005,509046900.0
2022-05-23,392.829987,415.380005,386.959991,415.260010,415.260010,426184700.0
2022-05-30,413.549988,416.459991,410.029999,412.929993,412.929993,95773700.0
2022-05-31,413.549988,416.459991,410.029999,412.929993,412.929993,95940890.0